@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arimo", sans-serif;
}

body {
    font-size: 15px;
    line-height: 1.5;
}

header {
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav a {
    color: black;
    display: inline-block;
    text-decoration: none;
    font-size: 19px;
    letter-spacing: 3px;
}

.right a {
    padding-left: 30px;
}

.bold {
    font-weight: bolder;
    padding-right: 10px;
}


/* main section is start */

.main-section {
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
}

.main-section img {
    max-width: 100%;
    height: auto;

}

.main-text h1 {
    color: #f1f1f1;
    font-size: 36px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin: 10px 0;
    position: absolute;
    top: 60%;
    left: 40%;
}

.span-style {
    color: #fff !important;
    background-color: #000 !important;
    padding: 8px 16px !important;
    opacity: 0.75;

}

.h1-style {
    letter-spacing: 4px;
    padding-left: 10px;
}

/* section 1 is start */


.section-1 {
    max-width: 1564px;
}


.col {
    margin-bottom: 16px !important;
    padding: 0 8px;
}

.col-container {
    position: relative;
}

.col-container p {
    color: #fff !important;
    background-color: #000 !important;
    padding: 8px 16px !important;
    position: absolute;
    left: 0;
    top: 0;
}

.row {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 0 8px;
}

.section1 h3 {
    font-weight: 400;
    margin: 10px 0;
    padding-top: 16px !important;
    padding-bottom: 16px !important;
    font-size: 24px;
    border-color: #f1f1f1 !important;
    border-bottom: 1px solid #ccc !important;
}

.padding-32 {
    padding-top: 32px !important;
    padding-bottom: 32px !important;
}

.padding-center {
    padding: 0.01em 16px;
}

/* section 1 is end */

.section2 h3 {
    border-color: #f1f1f1 !important;
    padding-top: 16px !important;
    padding-bottom: 16px !important;
    border-bottom: 1px solid #ccc !important;
    font-weight: 400;
    margin: 10px 0;
    font-size: 24px;

}

.w3-grayscal {
    filter: grayscale(75%);
}

.w3-row-padding {
    padding: 0 8px;
}

.image-text {
    padding: 0 8px;
}

.opacity {
    opacity: 0.60;
}

.btn {
    color: #000 !important;
    background-color: #f1f1f1 !important;
    display: block;
    width: 100%;
    border: none;
    padding: 5px;
}

.display-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
}


/* section 2 is end */

.contact h3{
    border-color: #f1f1f1 !important;
    padding-top: 16px !important;
    padding-bottom: 16px !important;
    border-bottom: 1px solid #ccc !important;
    font-weight: 400;
    margin: 10px 0;
}

h3 {
    font-size: 24px;
}

.border{
    border: 1px solid #ccc;
}

.input{
    padding: 8px;
    display: block;
    width: 100%;
}

.form-btn{
    color: #fff !important;
    background-color: #000 !important;
    margin-top: 16px !important;
    margin-bottom: 16px !important;
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
}


/* map start */

.map{
    padding: 0.01em 16px;
}

.map img{
    max-width: 100%;
    height: auto;
}

footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
}

footer a{
    color: white;
}

.padding{
    padding: 15px;
}

@media (max-width:560px) {
    .right {
        display: none;
    }

    nav a {
        font-size: 15px;

    }

    nav {
        padding: 5%;
    }

    .main-text h1 {
        display: none;
    }

    .display-grid {
        grid-template-columns: auto;
    }
    .padding{
        padding: 0px;
    }
    .section2 button{
        margin: 20px 0;
    }
}


@media (max-width:700px) {
    .row {
        grid-template-columns: auto;
    }
}